.container{
    outline: 1px solid black;
}


.container > h1{
    color: orangered;}
   /* child selector. > is used for direct childrene mathram style cheyyan.conainer nte ullile h1 nn style cheyyan */